<section style="max-width: 896px; margin: 0 auto;">
    <div align="center">
        <h1>PBX Integration Through Ringdesk</h1>
        <h4>Ringdesk enables Full-Control Of your PBX </h4>
    </div>
</section>

<section style="margin: 0 auto; max-width: 896px;">
    <div>
        <h3><b>DESCRIPTION</b></h3>
        <p>Ringdesk App enables full call control of your SwyxIT, 3CX, Xelion, BroadSoft and many more PBX integrated in your ODOO CRM. It enables you to work smart and efficient. It will help you to improve the speed of handling phone calls and it will lower your administration time. Also this App will add call detail information to the ticket and therefore improve your administration and handling history in a clear and transparent way.</p>
    </div>
    <div>
        <h3><b>Key Features</b></h3>
        <ul>
            <li> Detect incoming phone call & customer recognition</li>
            <li>Qucik Dial from ODOO phonenumbers</li>
            <li>Add Call Details in ODOO and attach to related contact or leads</li>
            <li>Create Contact and Leads from active call on click</li>
        </ul>
    </div>
    <div>
        <h3><b>To use this integration, you'll need:</b></h3>
        <ul>
            <li>Ringdesk account</li>
            <li>PBX connector configured in Ringdesk</li>
            <li>For more detail please email at info@ringdesk.com</li>
        </ul>
    </div>
</section>
<section style="max-width: 896px; margin: 0 auto;">
    <div>
        <h3><b>Supported PBX</b></h3>
        <p>SwyxIT!, 3CX, BroadSoft, Xelion, Many More to Come...</p>
    </div>
</section>